<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/design.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <h1 id="searchHeading">Search Result <span> <span style="color: grey"> > </span> </span> AVENGERS</h1>

    <div class="card mb-5 w-75">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="" alt="" class="card-img img-fluid">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Avengers</h2>
                    <hr>
                    <p class="card-text">Summary of movie goes here.</p>
                    <hr>
                    <br>


                    <p class="card-text"><b>Date Published :</b> 2019</p>
                    <p class="card-text"><b>Total Votes :</b> 20</p>
                    <p class="card-text"><b>Averate Rating :</b> 5.5</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>